.search-bar-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 50px;
}

.search-bar {
    background-color: whitesmoke;
    width: 500px;
    height: 45px;
    padding: 5px;
}


.search-bar-button {
    background-color: #99d9ea;
    color: grey;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
    height: 56px;
    width: 125px;
}




.suggestions-container {
    position: absolute;
    width: 100%;
    max-width: 100%;
    max-height: 160px;
    overflow-x: hidden;
    overflow-y: auto;
    background: #f5f5f5;
    border: solid 1px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    z-index: 10;
    box-sizing: border-box;
    top: calc(100% + 10px);
}

.search-container {
    position: relative;
    box-sizing: border-box;
}

.suggestions-container span {
    font-weight: 400;
    padding: 5px 0;
    padding-left: 15px;
    border-bottom: solid 1px darkgray;
    text-align: left;
    cursor: pointer;
    box-sizing: border-box;
    transform: scale(1);
    width: 100%;
    transition: all .4s;
}
.suggestions-container span:hover {
    font-weight: 600;
    transform: scale(1.03);
}